<div class="top-section">
    <div class="breadcrumb">
        <a><span>{{ 'BREADCRUMB.SERVICES' | translate }}</span></a>
        <span class="separator"> > </span>
        <a><span>{{ 'BREADCRUMB.EXHIBITION_VISIT' | translate }}</span></a>
        <span class="separator"> > </span>
        <a><span class="active">{{ 'BREADCRUMB.MY_PERMITS' | translate }}</span></a>
    </div> 
    <div class="title-container">
         <div class="title"> {{ 'PAGE_TITLE.PERMITS' | translate }} <br>
            <p>{{ 'PAGE_TITLE.SUBTITLE' | translate }}</p>
        </div>
    </div> 
</div>

<div class="bottom-section">
    <div class="card">
        <div class="table-toolbar">
            <div class="left-tools">
                <div class="action-buttons">
                    <button class="icon-btn bgOrang" (click)="printPermitsTable()">
                        <app-icon name="print"></app-icon>
                    </button>
                    <button class="icon-btn ">
                        <app-icon name="filter"></app-icon> 
                    </button>
                    <button class="icon-btn" (click)="sortByDate()">
                        <app-icon name="sort"></app-icon> 
                    </button>
                </div> 
                <div class="search-container">
                    <input #searchInput type="text" placeholder="بحث..." class="search-input" > 
                </div>
            </div>
            <div class="right-separator"></div>
        </div>

        <div class="table-container" >
            <table id="permits-table"  class="data-table">
                <thead>
                    <tr>
                        <th class="checkbox-column">
                            <input type="checkbox" class="checkbox-input">
                        </th> 
                        <th>{{ 'PERMITS_TABLE.PERMIT_NUMBER' | translate }}</th>
                        <th>{{ 'PERMITS_TABLE.VISIT_TYPE' | translate }}</th>
                        <th>{{ 'PERMITS_TABLE.VISITOR_NAME' | translate }}</th>
                        <th>{{ 'PERMITS_TABLE.VISIT_DATE' | translate }}
                            <span *ngIf="isSorted">↑</span>
                            <span *ngIf="!isSorted">↓</span>
                        </th>
                        <th>{{ 'PERMITS_TABLE.VISIT_TIME' | translate }}</th>
                        <th>{{ 'PERMITS_TABLE.BUS_COUNT' | translate }}</th>
                        <th>{{ 'PERMITS_TABLE.STATUS' | translate }}</th>
                        <th class="actions-column">{{ 'PERMITS_TABLE.VISITORS' | translate }}</th>
                        <th class="actions-column">{{ 'PERMITS_TABLE.ENTRY_CARD' | translate }}</th>
                        <th class="actions-column">{{ 'PERMITS_TABLE.CANCEL_BOOKING' | translate }}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="permits.length === 0" class="no-results-row">
                        <td colspan="8" class="no-results-cell">
                          <div class="no-results-content">
                            <i class="fas fa-search"></i>
                            <h3>{{ 'PERMITS_TABLE.NO_PERMITS' | translate }}</h3>
                            <p>{{ 'PERMITS_TABLE.NO_PERMITS_DESC' | translate }}</p>
                          </div>
                        </td>
                    </tr>
                    <tr *ngFor="let item of permits">
                        <td class="checkbox-column">
                            <input class="checkbox-input" type="checkbox" >
                        </td>
                        <td>{{item.permitNumber}} </td>
                        <td>{{item.visitType}}</td>
                        <td>{{item.visitorName}}</td>
                        <td>{{item.visitDate}}</td>
                        <td>{{item.visitTime}}</td>
                        <td>{{item.busCount}}</td>
                        <td>
                            <div class="status-badge" [ngClass]="getStatusClass(item.status)">
                                <span class="status-dot"></span>
                                <span class="status-text">{{item.status}}</span>
                            </div>
                        </td>
                        <td class="actions-column"> <a> {{'PERMITS_TABLE.VISITOR_DATA' | translate}}</a></td>
                        <td class="actions-column"> <a (click)="openTicketModal(item)"> {{'PERMITS_TABLE.VIEW_TICKET' | translate}}</a> </td>
                        <td class="actions-column">
                            <div class="tooltip-wrapper">
                                <button class="round-button">
                                   <app-icon name="mark"></app-icon>
                                </button>
                                <div class="custom-tooltip" *ngIf="item.status == 'مؤكد'">
                                    <div class="tooltip-icon status-confirmed">!</div>
                                    <span class="tooltip-text"> {{'PERMITS_TABLE.CANCEL_NOTE' | translate}}
                                        </span>
                                </div>
                                <div class="custom-tooltip" *ngIf="item.status == 'منتهي'">
                                    <div class="tooltip-icon status-ended">!</div>
                                    <span class="tooltip-text"> {{'PERMITS_TABLE.CANCEL_ENDED' | translate}}</span>
                                </div>
                            </div>
                        </td> 
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- ticket modal -->
 
<div class="modal-overlay" [class.show]="showTicketModal" (click)="closeModal()"  >
    <div class="modal-content" (click)="$event.stopPropagation()">
        <div class="modal-header">
            <span>{{ 'TICKET_MODAL.TITLE' | translate }}</span>
            <button class="close-btn" (click)="closeModal()">×</button>
        </div>
        
        <div class="modal-toolbar">
            <div>
                <button (click)="switchLanguage('ar')" class="langBtnArabic">{{ 'TICKET_MODAL.LANGUAGE.ARABIC' | translate }}</button>
            <button (click)="switchLanguage('en')" class="langBtnEnglish">{{ 'TICKET_MODAL.LANGUAGE.ENGLISH' | translate }}</button>
            </div>
            <button class="icon-btn" (click)="printTicket()">
               <app-icon  name="print"></app-icon>
            </button> 
        </div>

        <div class="ticket-card"  id="print-ticket"> 
            <div class="ticket-header">
                <label>{{ 'TICKET_MODAL.TITLE' | translate }}</label><br>
                <h2>{{ 'TICKET_MODAL.EXHIBITION_NAME' | translate }}</h2>
            </div> 

            <div class="ticket-content">
                <div class="qr-section">
                    <div class="qr-frame"> 
                        <qrcode
                        [qrdata]="qrCodeData"
                        [width]="qrCodeWidth"
                        [errorCorrectionLevel]="'M'">
                      </qrcode>  
                      <span class="permit-number">{{selectedTicket?.permitNumber}}</span>
                    </div>
                    <div class="visitor-info">
                        <label class="info-label">  {{ 'TICKET_MODAL.VISITOR_INFO.NAME' | translate }} </label>
                        <span class="info-value">{{selectedTicket?.visitorName}}</span>
                    </div>
                </div>

                <div class="terms-link"   [ngClass]="{'d-none': printMode === true , 'terms-link': printMode === false }">
                    <a>
                        {{ 'TICKET_MODAL.FOOTER.TERMS' | translate }}
                        <app-icon name="open"></app-icon>
                    </a>
                </div>

            </div> 

            <div class="ticket-info">
                <div class="info-row">
                    <div class="input-group">
                        <label>{{ 'TICKET_MODAL.VISITOR_INFO.PERMIT_NUMBER' | translate }}</label>
                        <input type="text" value="{{selectedTicket?.permitNumber}}" >
                    </div>
                    <div class="input-group">
                        <label>{{ 'TICKET_MODAL.VISITOR_INFO.VISIT_TYPE' | translate }}</label>
                        <input type="text" value="{{selectedTicket?.visitType}}" >
                    </div>
                    <div class="input-group">
                        <label>{{ 'TICKET_MODAL.VISITOR_INFO.VISIT_DATE' | translate }}</label>
                        <input type="text" value="{{selectedTicket?.visitDate}}" >
                    </div>
                    <div class="input-group">
                        <label>{{ 'TICKET_MODAL.VISITOR_INFO.VISIT_TIME' | translate }}</label>
                        <input type="text" value="{{selectedTicket?.visitTime}}" > 
                    </div>
                    <div class="input-group">
                        <label>{{ 'TICKET_MODAL.VISITOR_INFO.BUS_COUNT' | translate }}</label>
                        <input type="text" value="{{selectedTicket?.busCount}}" >
                    </div>
                    <div class="input-group">
                        <label>{{ 'TICKET_MODAL.VISITOR_INFO.VISITORS_COUNT' | translate }}</label>
                        <input type="text" value="{{selectedTicket?.visitorsCount}}" >
                    </div>
                </div>
            </div> 

            <div class="ticket-separator">
                <app-icon name="seperator"></app-icon>
            </div> 

            <div class="ticket-footer">
                <div class="barcode-section">
                    <svg #barcode></svg>
                </div>

                <div class="footer-info">
                    <div  [ngClass]="{'d-none': printMode === true , 'location-info': printMode === false }" >
                        <label>{{ 'TICKET_MODAL.FOOTER.LOCATION' | translate }}: </label>
                        <a href="#" class="map-link">
                            إضغط هنا
                            <app-icon name="pin"></app-icon>
                        </a>
                    </div>
                    <div class="email-info">
                        <label>{{ 'TICKET_MODAL.FOOTER.CONTACT_EMAIL' | translate }}: exibit@gph.gov.sa</label>
                    </div>
                </div>
            </div> 
        </div>

    </div>
</div>