<!-- Menu Button for Mobile -->
<button class="menu-btn" (click)="toggleSidebar()">
  <app-icon name="menu"></app-icon>
</button>

<!-- Sidebar for Mobile -->
<div class="sidebar" [class.active]="isSidebarOpen">
  <div class="sidebar-header">
    <img alt="Alharamain Logo" src="./assets/images/AlharamainW.png" />
     
  </div>

  <div class="sidebar-content"> 
    <nav class="sidebar-nav">
      <div class="nav-link"  [ngClass]="{'active': department === 'myServices'}"  (click)="activeDeparment('myServices')">
        <a routerLink="">
          <strong>خدماتي</strong>
        </a>
      </div>
      <div class="nav-link" [ngClass]="{'active': department === 'myPermits'}"  (click)="activeDeparment('myPermits')">
        <a routerLink="/Permits">
          <strong>تصريحاتي</strong>
        </a>
      </div>
      <div class="nav-link" [ngClass]="{'active': department === 'myTransactions'}" (click)="activeDeparment('myTransactions')" >
        <a routerLink="">
          <strong>معاملاتي</strong>
        </a>
      </div>
    </nav>

    <!-- Icon Navigation -->
    <nav class="sidebar-icons">
      <div class="nav-link" [ngClass]="{'active':  activePopover === 'langauge'}" (click)="togglePopover($event, 'langauge')" >
        <a routerLink=""> 
          <app-icon name="language"></app-icon>
          <span>اللغة</span>
        </a>
        <div class="popover langauge-popover" [ngClass]="{'show': activePopover === 'langauge'}">
          <button class="popover-btn" [ngClass]="{'active': currentLang === 'ar'}" (click)="switchLanguage('ar')">العربية</button>
          <button class="popover-btn" [ngClass]="{'active': currentLang === 'en'}" (click)="switchLanguage('en')">English</button>
        </div>
      </div>
  
      <div class="nav-link" [ngClass]="{'active':  activePopover === 'notifications'}" (click)="togglePopover($event, 'notifications')">
        <a routerLink="" > 
          <app-icon name="notifications"></app-icon> 
          <span>الإشعارات</span>
        </a>
        <div class="popover notifications-popover" [ngClass]="{'show': activePopover === 'notifications'}">
         
          <div class="notification-item">
            <p>تم قبول طلب التصريح</p>
            <span class="time">منذ ساعتين</span>
          </div>
          <div class="notification-item">
            <p>تم تحديث حالة الطلب</p>
            <span class="time">منذ 3 ساعات</span>
          </div>
        </div>
      </div>
  
      <div class="nav-link"  [ngClass]="{'active':  activePopover === 'search'}" (click)="togglePopover($event, 'search')">
        <a routerLink=""> 
          <app-icon name="search"></app-icon> 
          <span>البحث</span>
        </a>
        <div class="popover search-popover" [ngClass]="{'show': activePopover === 'search'}">
          <div class="search-container">
            <input type="text" placeholder="ابحث هنا...">
            <button class="search-btn">
              <app-icon name="search"></app-icon>
            </button>
          </div>
        </div>
      </div>
  
      <div class="nav-link"  [ngClass]="{'active':  activePopover === 'profile'}"  (click)="togglePopover($event, 'profile')">
        <a routerLink="" > 
          <app-icon name="person"></app-icon> 
          <span>  <label>الملف الشخصي</label> </span>
        </a> 
        <div class="popover profile-popover" [ngClass]="{'show': activePopover === 'profile'}">
          
          <div class="profile-menu">
            <button class="popover-btn">الملف الشخصي</button>
            <button class="popover-btn">تغيير كلمة المرور</button>
            <button class="popover-btn">تسجيل الخروج</button>
          </div>
        </div>
      </div>
  
      <div class="nav-link"  [ngClass]="{'active':  activePopover === 'settings'}" (click)="togglePopover($event, 'settings')"> 
        <a routerLink=""> 
          <app-icon name="settings"></app-icon>
          <span>الإعدادات</span>
        </a>
        
        <!-- <div class="popover settings-popover" [ngClass]="{'show': activePopover === 'settings'}">
          
          <div class="profile-menu">
            <button class="popover-btn">   </button>
            <button class="popover-btn">     </button>
            <button class="popover-btn">   </button>
          </div>
        </div> -->
      </div>
    </nav>

  </div>

</div>

<!-- Original Toolbar with Media Query -->

<div class="toolbar" dir="rtl" role="banner">
  <img alt="Alharamain Logo" src="./assets/images/Alharamain.png" /> 

  <nav class="navigation-menu" >
    <div class="nav-link"  [ngClass]="{'active': department === 'myServices'}"  (click)="activeDeparment('myServices')">
      <a routerLink="">
        <strong>خدماتي</strong>
      </a>
    </div>
    <div class="nav-link" [ngClass]="{'active': department === 'myPermits'}"  (click)="activeDeparment('myPermits')">
      <a routerLink="/Permits">
        <strong>تصريحاتي</strong>
      </a>
    </div>
    <div class="nav-link" [ngClass]="{'active': department === 'myTransactions'}" (click)="activeDeparment('myTransactions')" >
      <a routerLink="">
        <strong>معاملاتي</strong>
      </a>
    </div>
  </nav> 

  <div class="spacer"></div> 

  <nav class="navigation-menu">
    <div class="nav-link" [ngClass]="{'active':  activePopover === 'langauge'}" (click)="togglePopover($event, 'langauge')" >
      <a routerLink="" >
        <app-icon name="language"></app-icon>
      </a>
      <div class="popover langauge-popover" [ngClass]="{'show': activePopover === 'langauge'}">
        <button class="popover-btn" [ngClass]="{'active': currentLang === 'ar'}" (click)="switchLanguage('ar')">العربية</button>
        <button class="popover-btn" [ngClass]="{'active': currentLang === 'en'}" (click)="switchLanguage('en')">English</button>
      </div>
    </div>

    <div class="nav-link" [ngClass]="{'active':  activePopover === 'notifications'}" (click)="togglePopover($event, 'notifications')">
      <a routerLink=""  >
        <app-icon name="notifications"></app-icon> 
      </a>
      <div class="popover notifications-popover" [ngClass]="{'show': activePopover === 'notifications'}">
        <h3>الإشعارات</h3>
        <div class="notification-item">
          <p>تم قبول طلب التصريح</p>
          <span class="time">منذ ساعتين</span>
        </div>
        <div class="notification-item">
          <p>تم تحديث حالة الطلب</p>
          <span class="time">منذ 3 ساعات</span>
        </div>
      </div>
    </div>

    <div class="nav-link"  [ngClass]="{'active':  activePopover === 'search'}" (click)="togglePopover($event, 'search')">
      <a routerLink=""  >
        <app-icon name="search"></app-icon> 
      </a>
      <div class="popover search-popover" [ngClass]="{'show': activePopover === 'search'}">
        <div class="search-container">
          <input type="text" placeholder="ابحث هنا...">
          <button class="search-btn">
            <app-icon name="search"></app-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="nav-link"  [ngClass]="{'active':  activePopover === 'profile'}"  (click)="togglePopover($event, 'profile')">
      <a routerLink="" >
        <app-icon name="person"></app-icon> 
      </a>
      <div class="popover profile-popover" [ngClass]="{'show': activePopover === 'profile'}">
        
        <div class="profile-menu">
          <button class="popover-btn">الملف الشخصي</button>
          <button class="popover-btn">تغيير كلمة المرور</button>
          <button class="popover-btn">تسجيل الخروج</button>
        </div>
      </div>
    </div>

    <div class="nav-link"  [ngClass]="{'active':  activePopover === 'settings'}" (click)="togglePopover($event, 'settings')"> 
      <a routerLink="">
        <app-icon name="settings"></app-icon>
      </a>
      <div class="popover settings-popover" [ngClass]="{'show': activePopover === 'settings'}">
        
        <div class="profile-menu">
          <button class="popover-btn">   </button>
          <button class="popover-btn">     </button>
          <button class="popover-btn">   </button>
        </div>
      </div>
    </div>
  </nav>  
</div>


<div class="app-container">
  <router-outlet></router-outlet>
  <div class="footer" role="contentinfo">
    <div class="tree-section">
      <div class="footer-section">
        <h3 class="footer-title">عن الرئاسة</h3>
        <div class="divider"></div>
        <div class="footer-links">
          <a href="#"> عن البوابة </a>
          <a href="#"> دليل المستخدم </a>
          <a href="#"> الأخبار </a>
          <a href="#"> الفعاليات </a>
        </div>
      </div>
  
      <div class="footer-section">
        <h3 class="footer-title">روابط مهمة</h3>
        <div class="divider"></div>
        <div class="footer-links">
          <a href="#"> الهيئة العامة للعناية بشؤون الحرمين </a>
          <a href="#"> تطبيق الحرمين </a>
          <a href="#">وزارة الحج و العمرة</a>
          <a href="#"> منصة نسك </a>
          <a href="#"> المنصة الوطنية الموحدة </a>
          <a href="#"> هسيئ الحوكمة الرقمية </a>
          <a href="#"> رؤية السعودية 2030 </a>
        </div>
      </div>
  
      <div class="footer-section">
        <h3 class="footer-title">الدعم الفني</h3>
        <div class="divider"></div>
        <div class="footer-links">
          <a href="#">تواصل معنا </a>
          <a href="#"> الشكاوي والمقترحات </a>
          <a href="#"> اتفاقية مستوي الخدمة </a>
          <a href="#"> الإشتراك في النشر البريدية </a>
        </div>
      </div>
  
      <div class="footer-section">
        <h3 class="footer-title">تواصل معنا</h3>
        <div class="divider"></div>
        <div class="footer-media">
          <button class="btn btn-primary"> <a href="#"><app-icon name="twitter"></app-icon></a> </button>
          <button><a href="#"><app-icon name="facebook"></app-icon></a> </button>
          <button> <a href="#"><app-icon name="linkedin"></app-icon></a> </button>
          <button><a href="#"><app-icon name="youtube"></app-icon></a> </button>
        </div>
  
        <h3 class="footer-title mgt20"> ادوات الإتاحة والوصول</h3>
        <div class="divider"></div>
        <div class="footer-media ">
          <button><a href="#"><app-icon name="search"></app-icon></a></button>
          <button><a href="#"><app-icon name="eye"></app-icon></a></button>
        </div>
      </div>
    </div>
  
  
    <div class="terms-container">
      <div class="terms-links">
        <div class="links-row">
          <a href="#">سياسة الخصوصية</a>
          <span class="separator">|</span>
          <a href="#">شروط الاستخدام</a>
          <span class="separator">|</span>
          <a href="#">خريطة الموقع</a>
        </div>
        <p class="copyright">جميع الحقوق محفوظة © 2024 رئاسة شؤون الحرمين</p>
      </div>
  
      <div class="logos">
        <img src="./assets/images/AlharamainW.png" alt="Vision 2030" />
        <img src="./assets/images/v2030.png" alt="Alharamain Logo" />
      </div>
    </div>
  
  
  </div>
</div>

