<!-- Menu Button for Mobile -->
<button class="menu-btn" (click)="toggleSidebar()">
  <app-icon name="menu"></app-icon>
</button>

<!-- Sidebar for Mobile -->
<div class="sidebar" [class.active]="isSidebarOpen">
  <div class="sidebar-header">
    <img alt="Alharamain Logo" src="./assets/images/AlharamainW.png" /> 
  </div>

  <div class="sidebar-content"> 
    <nav class="sidebar-nav">
      <div class="nav-link"  [ngClass]="{'active': department === 'myServices'}"  (click)="activeDeparment('myServices')">
        <a routerLink="">
          <strong>{{  'NAV.SERVICES'  | translate  }}</strong>
        </a>
      </div>
      <div class="nav-link" [ngClass]="{'active': department === 'myPermits'}"  (click)="activeDeparment('myPermits')">
        <a routerLink="/Permits">
          <strong>{{ 'NAV.PERMITS' | translate }}</strong>
        </a>
      </div>
      <div class="nav-link" [ngClass]="{'active': department === 'myTransactions'}" (click)="activeDeparment('myTransactions')" >
        <a routerLink="">
          <strong>{{ 'NAV.TRANSACTIONS' | translate }}</strong>
        </a>
      </div>
    </nav>

    <!-- Icon Navigation -->
    <nav class="sidebar-icons">
      <div class="nav-link" [ngClass]="{'active':  activePopover === 'langauge'}" (click)="togglePopoverSide($event, 'langauge')" >
        <a routerLink=""> 
          <app-icon name="language"></app-icon>
          <span>  {{  'HEADER.LANGUAGE'  | translate  }} </span>
          
        </a>
        <div class="popover langauge-popover" [ngClass]="{'show': activePopover === 'langauge'}">
          <button class="popover-btn" [ngClass]="{'active': currentLang === 'ar'}" (click)="switchLanguage('ar')">العربية</button>
          <button class="popover-btn" [ngClass]="{'active': currentLang === 'en'}" (click)="switchLanguage('en')">English</button>
        </div>
      </div>
  
      <div class="nav-link" [ngClass]="{'active':  activePopover === 'notifications'}" (click)="togglePopoverSide($event, 'notifications')">
        <a routerLink="" > 
          <app-icon name="notifications"></app-icon> 
          <span> {{'HEADER.NOTIFICATIONS' | translate}}</span>
        </a>
        <div class="popover notifications-popover" [ngClass]="{'show': activePopover === 'notifications'}">
         
          <div class="notification-item">
            <p>تم قبول طلب التصريح</p>
            <span class="time">منذ ساعتين</span>
          </div>
          <div class="notification-item">
            <p>تم تحديث حالة الطلب</p>
            <span class="time">منذ 3 ساعات</span>
          </div>
        </div>
      </div>
  
      <div class="nav-link"  [ngClass]="{'active':  activePopover === 'search'}" (click)="togglePopoverSide($event, 'search')">
        <a routerLink=""> 
          <app-icon name="search"></app-icon> 
          <span> {{'HEADER.SEARCH' | translate}}</span>
        </a>
        <div class="popover search-popover" [ngClass]="{'show': activePopover === 'search'}">
          <div class="search-container">
            <input type="text"  [placeholder]="'HEADER.SEARCH_PLACEHOLDER' | translate">
            <button class="search-btn" (click)="selectItem('search')">
              <app-icon name="search"></app-icon>
            </button>
          </div>
        </div>
      </div>
  
      <div class="nav-link"  [ngClass]="{'active':  activePopover === 'profile'}"  (click)="togglePopoverSide($event, 'profile')">
        <a routerLink="" > 
          <app-icon name="person"></app-icon> 
          <span>  <label>  {{'HEADER.PROFILE' | translate}}  </label> </span>
        </a> 
        <div class="popover profile-popover" [ngClass]="{'show': activePopover === 'profile'}">
          
          <div class="profile-menu">
            <button class="popover-btn" (click)="selectItem('profile')">   {{'HEADER.PROFILE_MENU.VIEW_PROFILE' | translate}} </button>
            <button class="popover-btn" (click)="selectItem('profile')">      {{'HEADER.PROFILE_MENU.CHANGE_PASSWORD' | translate}} </button>
            <button class="popover-btn" (click)="selectItem('profile')">    {{'HEADER.PROFILE_MENU.LOGOUT' | translate}} </button>
          </div>
        </div>
      </div>
  
      <div class="nav-link"  [ngClass]="{'active':  activePopover === 'settings'}" (click)="togglePopoverSide($event, 'settings')"> 
        <a routerLink=""> 
          <app-icon name="settings"></app-icon>
          <span> {{'HEADER.SETTINGS' | translate}} </span>
        </a> 
        <!-- <div class="popover settings-popover" [ngClass]="{'show': activePopover === 'settings'}">
          
          <div class="profile-menu">
            <button class="popover-btn">   </button>
            <button class="popover-btn">     </button>
            <button class="popover-btn">   </button>
          </div>
        </div> -->
      </div>
    </nav>

  </div>

</div>

<!-- Original Toolbar with Media Query -->

<div class="toolbar" dir="rtl" role="banner">
  <img alt="Alharamain Logo" src="./assets/images/Alharamain.png" /> 

  <nav class="navigation-menu" >
    <div class="nav-link"  [ngClass]="{'active': department === 'myServices'}"  (click)="activeDeparment('myServices')">
      <a routerLink="">
        <strong>{{  'NAV.SERVICES'  | translate  }}</strong>
      </a>
    </div>
    <div class="nav-link" [ngClass]="{'active': department === 'myPermits'}"  (click)="activeDeparment('myPermits')">
      <a routerLink="/Permits">
        <strong>{{ 'NAV.PERMITS' | translate }}</strong>
      </a>
    </div>
    <div class="nav-link" [ngClass]="{'active': department === 'myTransactions'}" (click)="activeDeparment('myTransactions')" >
      <a routerLink="">
        <strong>{{ 'NAV.TRANSACTIONS' | translate }}</strong>
      </a>
    </div>
  </nav> 

  <div class="spacer"></div> 

  <nav class="navigation-menu">
    <div class="nav-link" [ngClass]="{'active':  activePopover === 'langauge'}" (click)="togglePopover($event, 'langauge')" >
      <a routerLink="" >
        <app-icon name="language"></app-icon>
      </a>
      <div class="popover langauge-popover" [ngClass]="{'show': activePopover === 'langauge'}">
        <button class="popover-btn" [ngClass]="{'active': currentLang === 'ar'}" (click)="switchLanguage('ar')">العربية</button>
        <button class="popover-btn" [ngClass]="{'active': currentLang === 'en'}" (click)="switchLanguage('en')">English</button>
      </div>
    </div>

    <div class="nav-link" [ngClass]="{'active':  activePopover === 'notifications'}" (click)="togglePopover($event, 'notifications')">
      <a routerLink=""  >
        <app-icon name="notifications"></app-icon> 
      </a>
      <div class="popover notifications-popover" [ngClass]="{'show': activePopover === 'notifications'}">
        <h3>الإشعارات</h3>
        <div class="notification-item">
          <p>تم قبول طلب التصريح</p>
          <span class="time">منذ ساعتين</span>
        </div>
        <div class="notification-item">
          <p>تم تحديث حالة الطلب</p>
          <span class="time">منذ 3 ساعات</span>
        </div>
      </div>
    </div>

    <div class="nav-link"  [ngClass]="{'active':  activePopover === 'search'}" (click)="togglePopover($event, 'search')">
      <a routerLink=""  >
        <app-icon name="search"></app-icon> 
      </a>
      <div class="popover search-popover" [ngClass]="{'show': activePopover === 'search'}">
        <div class="search-container">
          <input type="text" placeholder="ابحث هنا...">
          <button class="search-btn">
            <app-icon name="search"></app-icon>
          </button>
        </div>
      </div>
    </div>

    <div class="nav-link"  [ngClass]="{'active':  activePopover === 'profile'}"  (click)="togglePopover($event, 'profile')">
      <a routerLink="" >
        <app-icon name="person"></app-icon> 
      </a>
      <div class="popover profile-popover" [ngClass]="{'show': activePopover === 'profile'}">
        
        <div class="profile-menu">
          <button class="popover-btn" (click)="selectItem('profile')">   {{'HEADER.PROFILE_MENU.VIEW_PROFILE' | translate}} </button>
            <button class="popover-btn" (click)="selectItem('profile')">      {{'HEADER.PROFILE_MENU.CHANGE_PASSWORD' | translate}} </button>
            <button class="popover-btn" (click)="selectItem('profile')">    {{'HEADER.PROFILE_MENU.LOGOUT' | translate}} </button>
        </div>
      </div>
    </div>

    <div class="nav-link"  [ngClass]="{'active':  activePopover === 'settings'}" (click)="togglePopover($event, 'settings')"> 
      <a routerLink="">
        <app-icon name="settings"></app-icon>
      </a>
      <div class="popover settings-popover" [ngClass]="{'show': activePopover === 'settings'}">
        
        <div class="profile-menu">
          <button class="popover-btn">   </button>
          <button class="popover-btn">     </button>
          <button class="popover-btn">   </button>
        </div>
      </div>
    </div>
  </nav>  
  
</div>


<div class="app-container">
  <router-outlet></router-outlet>
  <div class="footer" role="contentinfo">
    <div class="tree-section">
      <div class="footer-section">
        <h3 class="footer-title">{{ 'FOOTER.ABOUT.TITLE' | translate }}</h3>
      <div class="divider"></div>
      <div class="footer-links">
        <a href="#">{{ 'FOOTER.ABOUT.ABOUT_PORTAL' | translate }}</a>
        <a href="#">{{ 'FOOTER.ABOUT.USER_GUIDE' | translate }}</a>
        <a href="#">{{ 'FOOTER.ABOUT.NEWS' | translate }}</a>
        <a href="#">{{ 'FOOTER.ABOUT.EVENTS' | translate }}</a>
      </div>
    </div>
  
    <div class="footer-section">
      <h3 class="footer-title">{{ 'FOOTER.IMPORTANT_LINKS.TITLE' | translate }}</h3>
      <div class="divider"></div>
      <div class="footer-links">
        <a href="#">{{ 'FOOTER.IMPORTANT_LINKS.HARAMAIN_AUTHORITY' | translate }}</a>
        <a href="#">{{ 'FOOTER.IMPORTANT_LINKS.HARAMAIN_APP' | translate }}</a>
        <a href="#">{{ 'FOOTER.IMPORTANT_LINKS.HAJJ_MINISTRY' | translate }}</a>
        <a href="#">{{ 'FOOTER.IMPORTANT_LINKS.NUSK_PLATFORM' | translate }}</a>
        <a href="#">{{ 'FOOTER.IMPORTANT_LINKS.NATIONAL_PLATFORM' | translate }}</a>
        <a href="#">{{ 'FOOTER.IMPORTANT_LINKS.DIGITAL_GOVERNANCE' | translate }}</a>
        <a href="#">{{ 'FOOTER.IMPORTANT_LINKS.VISION_2030' | translate }}</a>
      </div>
    </div>
  
    <div class="footer-section">
      <h3 class="footer-title">{{ 'FOOTER.SUPPORT.TITLE' | translate }}</h3>
      <div class="divider"></div>
      <div class="footer-links">
        <a href="#">{{ 'FOOTER.SUPPORT.CONTACT_US' | translate }}</a>
        <a href="#">{{ 'FOOTER.SUPPORT.COMPLAINTS' | translate }}</a>
        <a href="#">{{ 'FOOTER.SUPPORT.SERVICE_AGREEMENT' | translate }}</a>
        <a href="#">{{ 'FOOTER.SUPPORT.NEWSLETTER' | translate }}</a>
      </div>
    </div>
  
      <div class="footer-section">
        <h3 class="footer-title">{{ 'FOOTER.CONTACT.TITLE' | translate }}</h3>
        <div class="divider"></div>
        <div class="footer-media">
          <button class="btn btn-primary"><a href="#"><app-icon name="twitter"></app-icon></a></button>
          <button><a href="#"><app-icon name="facebook"></app-icon></a></button>
          <button><a href="#"><app-icon name="linkedin"></app-icon></a></button>
          <button><a href="#"><app-icon name="youtube"></app-icon></a></button>
        </div>
  
        <h3 class="footer-title mgt20">{{ 'FOOTER.CONTACT.ACCESSIBILITY' | translate }}</h3>
        <div class="divider"></div>
        <div class="footer-media">
          <button><a href="#"><app-icon name="search"></app-icon></a></button>
          <button><a href="#"><app-icon name="eye"></app-icon></a></button>
        </div>
      </div>
    </div>
  
  
    <div class="terms-container">
      <div class="terms-links">
        <div class="links-row">
          <a href="#">{{ 'FOOTER.TERMS.PRIVACY' | translate }}</a>
          <span class="separator">|</span>
          <a href="#">{{ 'FOOTER.TERMS.TERMS_OF_USE' | translate }}</a>
          <span class="separator">|</span>
          <a href="#">{{ 'FOOTER.TERMS.SITEMAP' | translate }}</a>
        </div>
        <p class="copyright">{{ 'FOOTER.TERMS.COPYRIGHT' | translate }}</p>
      </div>
  
      <div class="logos">
        <img src="./assets/images/AlharamainW.png" alt="Vision 2030" />
        <img src="./assets/images/v2030.png" alt="Alharamain Logo" />
      </div>
    </div>
  </div>
</div>

